.about-wrapper {
  width: 100%;
  margin: 4rem 0;

  .about {
    width: 70%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 3rem;
    border-bottom: 1px solid #7a7a7a5a;

    .about-me {
      width: 80%;
      font-size: 1.7rem;
      color: #acacac;
    }
    .career-path {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 2rem;
      margin: 2rem 0;
      font-size: 1.4rem;

      div {
        div {
          width: 300px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          &:last-child {
            color: #e5e5e5;
            font-size: 1.2rem;
          }
        }
      }

      .line-style {
        display: inline-block;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, #0014c96b, #6d7aec2e);
        border-radius: 100px;
        margin-left: 2rem;
        position: relative;

        &::after {
          // Line display after element with dot animation on line
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 2px;
          width: 2px;
          border-radius: 100%;
          background: #ffffffb8;
          box-shadow: 0 0 10px 5px #ffffff57;
          animation: lift-to-right 5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
            infinite;
        }
      }
    }
  }
}

@keyframes lift-to-right {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
