*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.heading {
  font-size: 4rem;
  width: fit-content;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    121.57deg,
    rgb(255, 255, 255) 18.77%,
    rgba(255, 255, 255, 0.66) 60.15%
  );
  -webkit-background-clip: text;
  margin: 2rem 0;
}
.horizontal-line {
  height: 8px;
  border-radius: 50px;
  width: 100px;
  background: linear-gradient(
    270deg,
    rgb(19, 173, 199) 0%,
    rgb(148, 93, 214) 100%
  );
}
