@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

:root {
  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background: #0f1624;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-family: "Space Grotesk", sans-serif;
  scroll-behavior: smooth;
}
html {
  font-size: 90%;
}
a {
  text-decoration: none;
}
